.d-flex {
  display: flex !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-column {
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}
.align-items-end {
  align-items: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-start {
  text-align: left;
  justify-content: flex-start !important;
}
.justify-content-end {
  text-align: right;
  justify-content: flex-end !important;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}