@font-face {
  font-family: 'PentorCorporate';
  src: url('../fonts/PentorCorporate-ExtraBold.eot');
  src: url('../fonts/PentorCorporate-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PentorCorporate-ExtraBold.woff2') format('woff2'),
      url('../fonts/PentorCorporate-ExtraBold.woff') format('woff'),
      url('../fonts/PentorCorporate-ExtraBold.ttf') format('truetype'),
      url('../fonts/PentorCorporate-ExtraBold.svg#PentorCorporate-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PentorCorporate';
  src: url('../fonts/PentorCorporate-Bold.eot');
  src: url('../fonts/PentorCorporate-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PentorCorporate-Bold.woff2') format('woff2'),
      url('../fonts/PentorCorporate-Bold.woff') format('woff'),
      url('../fonts/PentorCorporate-Bold.ttf') format('truetype'),
      url('../fonts/PentorCorporate-Bold.svg#PentorCorporate-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PentorCorporate';
  src: url('../fonts/PentorCorporate-Light.eot');
  src: url('../fonts/PentorCorporate-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PentorCorporate-Light.woff2') format('woff2'),
      url('../fonts/PentorCorporate-Light.woff') format('woff'),
      url('../fonts/PentorCorporate-Light.ttf') format('truetype'),
      url('../fonts/PentorCorporate-Light.svg#PentorCorporate-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PentorCorporate';
  src: url('../fonts/PentorCorporate-Regular.eot');
  src: url('../fonts/PentorCorporate-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PentorCorporate-Regular.woff2') format('woff2'),
      url('../fonts/PentorCorporate-Regular.woff') format('woff'),
      url('../fonts/PentorCorporate-Regular.ttf') format('truetype'),
      url('../fonts/PentorCorporate-Regular.svg#PentorCorporate-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PentorCorporate';
  src: url('../fonts/PentorCorporate-SemiBold.eot');
  src: url('../fonts/PentorCorporate-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/PentorCorporate-SemiBold.woff2') format('woff2'),
      url('../fonts/PentorCorporate-SemiBold.woff') format('woff'),
      url('../fonts/PentorCorporate-SemiBold.ttf') format('truetype'),
      url('../fonts/PentorCorporate-SemiBold.svg#PentorCorporate-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FC Sara Samkan";
  src: url("~/assets/fonts/FC Sara Samkan [Non-commercial] Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "FC Sara Samkan";
  src: url("~/assets/fonts/FC Sara Samkan [Non-commercial] Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "FC Sara Samkan";
  src: url("~/assets/fonts/FC Sara Samkan [Non-commercial] Bold.ttf") format("truetype");
  font-weight: 700;
}
