:root {
    // Can be changed
    --bg: #005641;
    --primary: #008F6C;
    --lightPrimary: color-mix(in srgb, var(--primary) 80%, #c6c6c6); /* ผสมให้จาง (Primary 400)*/
    --darkPrimary: color-mix(in srgb, var(--primary) 80%, #000000); /* ผสมให้เข้ม (Primary 600)*/
    --darkerPrimary: color-mix(in srgb, var(--primary) 60%, #000000); /* ผสมให้เข้ม (Primary 700)*/
    --secondary: #FFEB3B;
    --lightSecondary: color-mix(in srgb, var(--secondary) 80%, #c6c6c6); /* ผสมให้จาง (Secondary 400)*/

    // Unchanged
    --black: #080808;
    --lightBlack: #242424;
    --lighterBlack: #3F3F3F;
    --white: #FFFFFF;
    --darkWhite: #F8F8F8;
    --darkerWhite: #BABABA;

    --success: #27A586;
    --pending: #F29100;
    --cancel: #080808;
    --fail: #FF0000;
    --darkfail: #DD0000;
    --darkerfail: #B10000;

    --line: #D8D8D8;

    --alpha: 0.08;
}



// --green-100: color-mix(in srgb, var(--green-500) 20%, #c6c6c6); /* ผสมให้เข้มขึ้น */  #9ebbb4
// --green-200: color-mix(in srgb, var(--green-500) 40%, #c6c6c6); /* ผสมให้เข้มขึ้น */  #76b0a2
// --green-300: color-mix(in srgb, var(--green-500) 60%, #c6c6c6); /* ผสมให้เข้มขึ้น */  #50a590
// --green-400: color-mix(in srgb, var(--green-500) 80%, #c6c6c6); /* ผสมให้เข้มขึ้น */  #279a7e
// --green-600: color-mix(in srgb, var(--green-500) 80%, black); /* ผสมให้เข้มขึ้น */    #007256
// --green-700: color-mix(in srgb, var(--green-500) 60%, black); /* ผสมให้เข้มขึ้น */    #005641
// --green-800: color-mix(in srgb, var(--green-500) 40%, black); /* ผสมให้เข้มขึ้น */    #00392b
// --green-900: color-mix(in srgb, var(--green-500) 20%, black); /* ผสมให้เข้มขึ้น */    #001d15